
:root {
  --color-font-main: #333333;
  --color-background: #f5f5f5;
  --color-white: #ffffff;
  --color-gray: #B0B0B0;
  --color-lite-gray: #C8C5D1;
  --color-main: #9873FF;
  --color-red: #F06A4D;
  --color-link: #B89EFF;
  --color-btn-main: #8052FF;
  --color-background-add-contact: #F4F3F6;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

body {
  background: var(--color-background);
  font-size: 14px;
  color: var(--color-font-main);
}

/*------ Header ------*/

.header {
  margin-bottom: 40px;
  background: var(--color-white);
  box-shadow: 0px 9.03012px 27.0904px rgba(176, 190, 197, 0.32), 0px 3.38629px 5.64383px rgba(176, 190, 197, 0.32);
}

.header__container {
  display: flex;
  padding-left: 20px;
  align-items: center;
  height: 90px;
}

.header__input {
  margin-left: 53px;
  padding-top: 12px;
  padding-bottom: 13px;
  padding-left: 16px;
  width: 581px;
  height: 44px;
  border-radius: 0;
  border: 1px solid rgba(51, 51, 51, 0.2);
}

.header__input::placeholder {
  color: var(--color-gray);
}

.form-control:focus {
  border-color: var(--color-main);
  box-shadow:  0px 0px 4px 4px rgba(152, 115, 255, 0.2);
}

/*--------------------*/
/*------- Main -------*/
.control-panel__container {
  display: flex;
  flex-direction: column;
}

.control-panel__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
}

.control-panel__table {
  position: relative;
  width: 100%;
}

.control-panel__table thead tr th {
  padding-bottom: 8px;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: var(--color-gray);
}

.control-panel__table thead tr th:hover:nth-child(-1n+4) {
  color: #000000;
  cursor: pointer;
}

.table__head-id::after, .table__head-name::after, .table__head-dateNew::after, .table__head-dateUpdate::after {
  display: inline-block;
  content: ' ';
  width: 12px;
  height: 12px;
  background-image: url("../img/arrow_upward.svg");
  background-repeat: no-repeat;
  background-position-y: 2px;
  opacity: 0.7;
}

.table__head-id.is-reverse::after, .table__head-name.is-reverse::after, .table__head-dateNew.is-reverse::after, .table__head-dateUpdate.is-reverse::after {
  background-image: url("../img/arrow_downward.svg");
}

.table__head-id:hover::after, .table__head-name:hover::after, .table__head-dateNew:hover::after, .table__head-dateUpdate:hover::after {
  opacity: 1;
  cursor: pointer;
}

.table__head-name:after {
  content: 'А-Я';
  width: 30px;
  padding-left: 10px;
  color: var(--color-main);
}

.control-panel__table tbody tr{
  background: var(--color-white);
}

.table td, .table th {
  height: 60px;
  vertical-align: inherit;
  border-top: none;
  border-bottom: 1px solid rgba(200, 197, 209, 0.5);
}

.table thead th {
  border: none;
}

.table__body-dateNew span, .table__body-dateUpdate span {
  margin-left: 10px;
  color: var(--color-gray);
}

.table__list-contact {
  display: flex;
  flex-wrap: wrap;
  width: 108px;
}

.table__body-edit, .table__body-delete {
  position: relative;
  padding-left: 15px;
  background-repeat: no-repeat;
  background-position-y: center;
}

.table__body-edit {
  margin-right: 32px;
  background-image: url("../img/edit.svg");
}

.table__body-delete {
  background-image: url("../img/cancel.svg");
  background-position-x: -2px;
}

.table__body-edit:hover {
  color:var(--color-main);
  cursor: pointer;
}

.table__body-delete:hover {
  color: var(--color-red);
  cursor: pointer;
}
/*
.table__body-edit::before, .table__body-delete::before {
  position: absolute;
  display: inline-block;
  content: '';
  width: 16px;
  height: 16px;
  top: 36%;
  left: -3px;
  background-repeat: no-repeat;
}

.table__body-edit::before {
  background-image: url("../img/edit.svg");
}

.table__body-delete::before {
  background-image: url("../img/cancel.svg");
} */

.table__list-contact li {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  cursor: pointer;
  opacity: 0.7;
  transition: opacity .3s ease-in-out;
}

.table__list-contact li:not(:nth-child(5n)) {
  margin-right: 7px;
}

.table__list-contact li:nth-child(1n+6) {
  margin-top: 7px;
}

.table__list-contact li:hover {
  opacity: 1;
}

.list-contact__phone {
  background-image: url("../img/phone.svg");
}

.list-contact__email {
  background-image: url("../img/mail.svg");
}

.list-contact__vk {
  background-image: url("../img/vk.svg");
}

.list-contact__fb {
  background-image: url("../img/fb.svg");
}

.list-contact__other {
  background-image: url("../img/contact.svg");
}

.popup {
  position: absolute;
  bottom: 26px;
  left: 50%;
  padding: 7px 14px 8px 14px;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  width: max-content;
  background: black;
  color: var(--color-white);
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
}

.popup::before {
  content: "";
  position: absolute;
  bottom: -7px;
  left:50%;
  transform: translateX(-50%);
  border-width: 7px 5px 0 5px;
  border-style: solid;
  border-color: rgb(0, 0, 0) transparent transparent transparent;
  z-index: 100;
}

.table__list-contact li:hover > .popup,
.table__list-contact li:focus > .popup {
  opacity: 1;
  visibility:visible;
}

.list-contact__other .popup {
  font-weight: 400;
}

.table__list-contact .link-contact{
  font-weight: 700;
  color: var(--color-link);
}

.table__list-contact .text-contact{
  font-weight: 700;
}

.control-panel__button {
  margin: 40px auto;
  padding: 12.5px 26.5px;
  width: 220px;
  border-radius: 0;
  border: 1px solid var(--color-main);
  color: var(--color-main);
  white-space: nowrap;
}

.control-panel__button:hover, .control-panel__button:active, .control-panel__button-hash:hover, .control-panel__button-hash:active {
  background-color: var(--color-btn-main);
  border: 1px solid var(--color-btn-main);
  color: var(--color-white);
}

.control-panel__button:focus, .control-panel__button-hash:focus {
  box-shadow:0px 0px 4px 4px rgba(152, 115, 255, 0.4);
}

.control-panel__button::before {
  display: inline-block;
  content: '';
  margin-right: 10px;
  width: 22px;
  height: 16px;
  background-image: url("../img/add.svg");
  transition: background-image .2s ease-in-out;
}

.control-panel__button:hover::before, .control-panel__button:active::before {
  background-image: url("../img/add_hover.svg");

}

.control-panel__button-hash {
  margin: auto auto 40px auto;
  padding: 12.5px 26.5px;
  width: 320px;
  border-radius: 0;
  border: 1px solid var(--color-main);
  color: var(--color-main);
  white-space: nowrap;
}

.list-contact__more {
  padding-top: 2px;
  padding-left: 2px;
  margin-right: 0 !important;
  margin-top: 0 !important;
  background-image: url("../img/more.svg");
  font-size: 8px;
  font-weight: 600;
  line-height: 11px;
  color: var(--color-font-main);
}

.control-panel__table tbody tr:hover {
  background-color: var(--color-background);
}
/*------------------*/
/*----- Modal ------*/
.control-panel__modal {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(51, 51, 51, 0.6);
  position: fixed;
  text-align: center;
  z-index: 1000;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
  overflow-y: auto;
}

.modal__content {
  display: flex;
  flex-direction: column;
  position: absolute;
  /* top: 50%; */
  /* left: 50%; */
  width: 450px;
  min-height: 400px;
  background-color: var(--color-white);
  /* transform: translate(-50%, -50%); */
  box-sizing: border-box;
  overflow: visible;
  /* transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out; */
  transform: scale(0.4);
  opacity: 0;
}

.modal__active {
  visibility: visible;
  transform: scale(1);
  opacity: 1;
}

.modal__title-content {
  display: flex;
  padding: 30px 24px 0 30px;
  margin-bottom: 32px;
  width: 100%;
  align-items: baseline;
}

.modal__title {
  margin: 0;
  font-size: 18px;
  line-height: 25px;
  font-weight: 700;

}

.modal__close {
  position: relative;
  margin-left: auto;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.modal__close::before {
  position: absolute;
  content: '';
  display: inline-block;
  width: 1.4px;
  height: 20.5px;
  background-color: #c8c5d1;
  transform: rotate(45deg);
}

.modal__close::after {
  position: absolute;
  content: '';
  display: inline-block;
  width: 1.4px;
  height: 20.5px;
  background-color: #c8c5d1;
  transform: rotate(135deg);
}

.modal__form-group .form-control {
  padding-left: 0;
  padding-bottom: 0;
  border-radius: 0;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 14px;
  line-height: 19px;
  font-weight: 600;
  color: var(--color-font-main);
}

.modal__form-group .form-control:focus {
  box-shadow: none;
}

.modal__form {
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
}

.modal__form-group {
  position: relative;
  margin-bottom: 15px;
  padding: 0 30px;
}

.modal__placeholder {
  position: absolute;
  left: 30px;
  bottom: 4px;
  font-size: 14px;
  line-height: 19px;
  color: var(--color-gray);
  pointer-events:none;
}

.modal__star {
  color: var(--color-main);
  font-weight: 600;
}

.modal__form-group input:focus ~ .modal__placeholder, .is-active {
  font-size: 10px;
  line-height: 14px;
  transform: translateY(-150%);
  transition: transform .3s ease-in-out, font-size .3s ease-in-out;
}

.modal__add-contact {
  margin-top: 25px;
  margin-bottom: 8px;
  width: 100%;
  min-height: 35px;
  background-color: rgb(78%, 77%, 82%, 0.2);
}

.add-contact__button {
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  color: var(--color-font-main);
  transition: color 0.2s ease-in-out;
}

.add-contact__button::before {
  content: '';
  display: inline-block;
  margin-right: 4px;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  background-image: url('../img/add_circle_outline.svg');
  background-repeat: no-repeat;
  background-position-y: -1px;
  transition: background 0.2s ease-in-out;
}
.add-contact__button:hover {
  color: var(--color-main);
}
.add-contact__button:hover::before {
  background-image: url('../img/add_circle_outline_fill.svg');
}

.modal__button-save {
  margin-top: 17px;
  padding: 12.5px 35px;
  align-self: center;
  max-width: 147px;
  background-color: var(--color-main);
  border-radius: 0;
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  color: var(--color-white);
}

.modal__button-save:hover {
  background-color: var(--color-link);
  color: var(--color-white);
}

.modal__button-save:focus, .modal__button-save:active {
  background-color: var(--color-btn-main);
  box-shadow: 0px 0px 4px 4px rgb(152 115 255 / 40%);
}

.modal__button-cansel {
  align-self: center;
  max-width: 147px;
  font-size: 12px;
  line-height: 16px;
  text-decoration: underline;
}

.add-contact__box {
  margin-bottom: 15px;
  padding: 0 30px;
}

.add-contact__box:first-child {
  margin-top: 25px;
}

.add-contact__select {
  position: relative;
  height: 37px;
  width: 100%;
  border-radius: 0;
  border-color: var(--color-lite-gray);
  font-size: 12px;
  line-height: 22px;
  color: var(--color-font-main);
  text-align: left;
  background: none;
  background-color: #E7E5EB;
}

.add-contact__select:focus {
  border-color: var(--color-lite-gray);
  box-shadow: none;
}

.add-contact__select:focus option {
  background-color: var(--color-background-add-contact);
}

.add-contact__select::after {
  position: absolute;
  content: '';
  left: 85%;
  top: 35%;
  width: 12px;
  height: 12px;
  background-image: url('../img/arrow_back_ios.svg');
  background-repeat: no-repeat;
  transition: background 0.2s ease-in-out;
}

.add-contact__select.is-active-select::after {
  background-image: url('../img/arrow_up_ios.svg');
}

.add-contact__input-group {
  min-width: 267px;
}

.add-contact__input {
  height: 37px;
  border-radius: 0;
  background-color: transparent;
  font-weight: 600;
  color: var(--color-font-main);
}

.add-contact__input::placeholder {
  font-weight: normal;
  color: var(--color-gray);
}

.add-contact__input:focus {
  border-color: var(--color-lite-gray);
  box-shadow: none;
}

.add-contact__input-group .form-control.error-border:focus {
  border-color: rgba(240, 106, 77, 0.5);
}


.add-contact__btnDelete {
  margin-left: -1px;
  width: 27px;
  height: 100%;
  border-radius: 0;
  border: 1px solid var(--color-lite-gray);
  align-self: center;
  background-color: #E7E5EB;
  background-image: url('../img/delete.svg');
  background-size: inherit;
  background-repeat: no-repeat;
  background-position: center;
  transition: background 0.2s ease-in-out, border 0.2s ease-in-out;
}

.add-contact__btnDelete:hover {
  background-image: url('../img/deleteHover.svg');
  border-color: var(--color-red);
}

.add-contact__dropdown {
  width: 123px;
}

.add-contact__box-option {
  margin: 0;
  width: 123px;
  min-width: 123px;
  font-size: 12px;
  line-height: 16px;
  color: var(--color-font-main);
  border-radius: 0;
  border: 1px solid var(--color-lite-gray);
  border-top: none;
  background: var(--color-background-add-contact);
}

.add-contact__option {
  padding: 5px 12px;
}

.add-contact__option:hover {
  background-color: #E7E5EB;
  cursor: pointer;
}

.add-contact__box + .add-contact__button {
  margin-bottom: 10px;
}

.error-border {
  border: 1px solid rgba(240, 106, 77, 0.5);
}

.modal__form-group .form-control.error-border:focus  {
  border-color: rgba(240, 106, 77, 0.5);
}

.modal__error {
  font-size: 10px;
  line-height: 14px;
  color: var(--color-red);
}

.modal__error:last-of-type {
  margin-bottom: 9px;
}

.modal__error:last-of-type + .modal__button-save {
  margin-top: 0;
}

.model__content-delete {
  min-height: 215px;
  align-items: center;
}

.model__content-delete .modal__title-content {
  display: block;
  position: relative;
  margin-bottom: 11px;
}

.model__content-delete .modal__title-content .modal__close {
  position: absolute;
  right: 24px;
  top: 24px;
}

.modal__text {
  margin-bottom: 25px;
  padding: 0 20px;
  max-width: 275px;
  line-height: 19px;
}

.model__content-delete .modal__button-save {
  margin-top: 0;
}

.modal__title-id {
  margin-left: 9px;
  font-size: 12px;
  line-height: 16px;
  color: #b0b0b0;
}
/*------------------*/

/*----- Spiner -----*/
.control-panel__spiner {
  opacity: 0;
  position: absolute;
  top: 60px;
  width: 100%;
  min-height: 300px;
  background-color: var(--color-white);
  overflow: hidden;
  z-index: -1;
}

.control-panel__spiner::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('../img/spiner.svg');
  background-position: center;
  background-repeat: no-repeat;
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

.control-panel__container {
  position: relative;
}

.loading .control-panel__spiner {
  opacity: 1;
  overflow: visible;
  z-index: 1;
}

/*------------------*/

@media (min-width: 280px) {

  .container, .container-md, .container-sm {
    width: 758px;
  }

  .container.header__container {
    max-width: 100%;
  }

  .header__container {
    flex-direction: column;
    height: 40px;
  }

  .header__input {
    display: none;
  }

  .header__picture {
    padding-top: 8px;
  }

  .table__head-name {
    white-space: nowrap;
  }

  .table__body-dateNew span, .table__body-dateUpdate span {
    display: block;
    margin-left: 0;
  }

  .table__body-edit {
    margin-right: 0;
  }

  .table__body-delete {
    display: block;
    margin-top: 5px;
  }
}

@media (min-width: 768px) {
  .container, .container-md, .container-sm {
    max-width: 758px;
    width: 100%;
  }

  .header__container {
    flex-direction: row;
    height: 90px;
  }

  .header__picture {
    padding-top: 0;
  }

  .header__input {
    display: block;
  }

  .table__head-name {
    white-space: nowrap;
  }

  .table__body-dateNew span, .table__body-dateUpdate span {
    display: block;
    margin-left: 0;
  }
}

@media (min-width: 1024px){
  .container, .container-lg, .container-md, .container-sm, .container-xl {
      max-width: 1014px;
  }

  .table__head-dateNew, .table__head-dateUpdat {
    white-space: normal;
  }

  .table__body-dateNew span, .table__body-dateUpdate span {
    display: inline-block;
    margin-left: 10px;
  }

  .table__body-delete {
    display: inline-block;
  }
}
@media (min-width: 1200px){
  .container, .container-lg, .container-md, .container-sm, .container-xl {
      max-width: 1216px;
  }
  .container.header__container {
    max-width: 1396px;
  }

  .table__head-name, .table__head-dateNew, .table__head-dateUpdate {
    white-space: nowrap;
  }

  .table__body-edit {
    margin-right: 32px;
  }

  .table__body-delete {
    margin-top: 0;
  }
}
